<div class="mt-4">
<form method="post" action="">
  <div class="form-group">
    <label for="search-input">Từ Khoá</label>
    <input type="text" class="form-control" name="q" id="search-input" placeholder="Nhập từ khoá">
  </div>
  <div class="form-group">
    <label for="gender-input">Từ Khoá</label>
    <select name="gender" class="form-control" name="q" id="gender-input">
    <option value="">-- Chọn giới tính</option>
    <option value="male">Nam</option>
    <option value="female">Nữ</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
</div>